body {
  background-color: #eff9f0;
}
.naslov {
  color: #896a67;
}

.btn-colorc {
  background-color: #896a67 !important;
  color: #eff9f0 !important;
}
.cardbody-color {
  background-color: #ddc8c4;
}
a {
  text-decoration: none;
}
